server:
  ssl:
    enabled: false
#    key-store: classpath:springboot.p12
#    key-store-password: password
#    key-store-type: pkcs12
#    key-alias: springboot
#    key-password: password
  port: 8443
spring:
  profiles:
      active: ${SPRING_PROFILES_ACTIVE}
  cache:
    type: redis
    redis:
      time-to-live: 600000
  data:
    redis:
      port: 6379
      password: ${REDIS_PASSWORD:}
      host: ${REDIS_HOST:localhost} 
      ssl: ${REDIS_USE_SSL:true}
      

      

logging:
  level:
    root: info
management:
  health:
    redis:
      enabled: false