option_settings:
  aws:autoscaling:updatepolicy:rollingupdate:
    RollingUpdateEnabled: "true"
  aws:elasticbeanstalk:monitoring:
    Automatically Terminate Unhealthy Instances: "false"
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced
commands:
  01-clear-logs:
    command: cd /var/log/ && rm nginx/* && mv *.gz rotated
    ignoreErrors: true