version: '3'
services:
  redis:
    image: redis
    container_name: redis
    command: redis-server --save 20 1 --loglevel warning --requirepass eYVX7EwVmmxKPCDmwMtyKVge8oLd2t81
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data

  redis-commander:
    container_name: redis-commander
    hostname: redis-commander
    image: rediscommander/redis-commander:latest
    restart: always
    environment:
      - REDIS_HOSTS=local:redis:6379
      - REDIS_PASSWORD:eYVX7EwVmmxKPCDmwMtyKVge8oLd2t81
    ports:
      - "8081:8081"
volumes:
  redis-data: